* {
  width: 100%;
  padding: 0;
  margin: 0;
  border-style: border-box;
}

body {
  width: 960px;
  margin: 0 auto;
}

header {
  height: 60px;
}

p {
  /*text-indent: 20px;*/
}

.inline-block {
  display: inline-block;
  width: auto;
  /*text-indent: none;*/
}

.sm-pic {
  display: inline-block;
  height: 30px;
  width: 30px;
  padding-top: 15px;
}

hr.style11 {
	height: 6px;
	background: url(http://ibrahimjabbari.com/english/images/hr-11.png) repeat-x 0 0;
    border: 0;
  margin-top: 35px;
  margin-bottom: 65px;

}

#last-pic {
  margin-left: 10px;
}

#logo-icon {
  height: 60px;
  width: 60px;
  display: inline-block;
}

#delicious {
  font-size: 2em;
  font-family:
}

#best-food-blog {
  font-size: .5em;
  width: auto;
}

#social-media-pics {
  width: auto;
  display: inline-block;
  float: right;
}

#article-header {
  font-size: 3em;
  font-family: helvetica;
}

#article-subheader {
  color: grey;
  width: auto;
  display: inline-block;
}

#print {
  height: 15px;
  width: auto;
  float: right;
  display: inline-block;
}

#print-icon {
  height: 15px;
  width: 15px;
  /*float: right;*/
  display: inline-block;
}

#print-text {
  color: grey;
}

#choco-pizza-pic {
  margin-top: 28px;
}

#article p {
  text-indent: 20px;
}
