* {
  width: 100%;
  border-style: border-box;
}

body {
  width: 960px;
  margin: 0 auto;
}

p {
  text-indent: 20px;
}

.inline-block {
  display: inline-block;
  width: auto;
}

#logo-icon {
  height: 40px;
  width: 40px;
  display: inline-block;
}
